*{
    padding: 0;
    margin: 0;
}


main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    text-align: center;
}

span{
    text-align: center;
}

h2{
    text-align: center;
}